
*{
    margin: 0;
}

body{

    background: #494D5F ;
}

.cabecera1{
   /* border-bottom-left-radius: 3.75em;
    border-bottom-right-radius:3.75em;*/
    background: #E5EAF5;
    height: 75px;
    text-align: center;
    padding-top: 15px;

}

.principal{
    height: 450px;
    margin-top: 25px;
    /*border: 1px solid black; */
    padding-left: 22.5%;
    }

.secundario{
    margin-left: 5px;
    margin-top: 25px; 
    border: 1px solid black;
    height: 350px;
    width: 250px;
    display: inline-block;
    border-radius: 0.75em;
    background: white;
    }

.secundario:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,1);
    background: #494D5F;
}

.cabecera{
    border-top-left-radius: 0.75em;
    border-top-right-radius: 0.75em;
    background: #E5EAF5;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    }

.imagen{   
    height: 200px;
    width: 170px;
    display: inline-flex;
    margin-left: 5px;
}

.usuario{    
    height: 150px;
    width: 150px;
    border-radius: 100%;   
    display:inline-block;
    padding-left:10px;
}

.nombres{   
    height: 200px;
    width: 1300px;    
}

.center{
    margin-left: 150px;

}

hr{
    margin-left: 100px;
    margin-right: 100px;
}

.informacion{
    border-radius: 1.75em;
    width: 200px;
    height: 250px;
    
}

.informacion:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.5);
    background: white;
   }
   

p{
    text-align: center;
}

h3{
    text-align: center;
    color:white;
    font-size: 30px;
}

button{
    margin-top: 25px;
    margin-left:80px;
    padding:10px;
    border-radius:1.5em;     
    color:black;
    background:#E5EAF5;
}

.word{
    height:28px;
    width: 25px;   
}

ul{
    margin-top: 25px;
    margin-left: 20px;   
}

.btn_principal{
    margin-left: 42%;
}